@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 75% 1%;
    --foreground: 244 89% 93%;
    --card: 240 100% 7%;
    --card-foreground: 244 89% 93%;
    --popover: 240 75% 1%;
    --popover-foreground: 244 89% 93%;
    --primary: 243 69% 52%;
    --primary-foreground: 244 89% 93%;
    --secondary: 239 100% 7%;
    --secondary-foreground: 244 89% 93%;
    --muted: 239 100% 7%;
    --muted-foreground: 240 5% 65%;
    --accent: 238 100% 38%;
    --accent-foreground: 244 89% 93%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 244 89% 93%;
    --border: 240 100% 12%;
    --input: 240 100% 12%;
    --ring: 243 69% 52%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
